* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.nav {
  background-color: tomato;
  box-shadow: 3px 3px 3px rgba(12, 1, 19, 0.3);
  padding: 20px;
}

a {
  text-decoration: none;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: white;
  font-weight: bold;
}
a:hover {
  color: rgb(58, 3, 110);
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li:first-child {
  margin-right: auto;
}

a.myLogo {
  color: rgb(73, 58, 58);
  font-size: 1.5em;
  font-weight: bold;
  font-family: jokerman;
}

a.myLogo:hover {
  color: black;
}
a.myLogo:focus {
  color: rgb(58, 3, 110);
}
